:root {
  --white: #ffffff;
  --white-alpha: #ffffff3b;
  --blue-color: #22c1c3;
  --yellow-color: #fdbb2d;

  --primary-color: #262835;
  --secondary-color: #ff5473;
  --tertiary-color: #ededed;
}
